@{
    ViewBag.Title = "首页";
}

<div class="row-fluid">
    <div class="span12">
        <div class="widget-box">
            <div class="widget-title">
                <span class="icon"><i class="icon-briefcase"></i></span>
                <h5>首页</h5>
            </div>
            <div class="widget-content">
                <div class="row-fluid">
                    <div class="span6">
                        <table class="">
                            <tbody>
                                <tr>
                                    <td>
                                        <h4>QuickDDD</h4>
                                               <div>
    @Html.ActionLink("用户管理","Index", "User/User")
      </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Your Town</td>
                                </tr>
                                <tr>
                                    <td>Your Region/State</td>
                                </tr>
                                <tr>
                                    <td>Mobile Phone: +4530422244</td>
                                </tr>
                                <tr>
                                    <td>me@company.com</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="span6">
                        <table class="table table-bordered table-invoice">
                            <tbody>
                                <tr>
                                    <tr>
                                        <td class="width30">Invoice ID:</td>
                                        <td class="width70"><strong></strong></td>
                                    </tr>
                                    <tr>
                                        <td>Issue Date:</td>
                                        <td><strong>March 23, 2013</strong></td>
                                    </tr>
                                    <tr>
                                        <td>Due Date:</td>
                                        <td><strong></strong></td>
                                    </tr>
                                    <td class="width30">Client Address:</td>
                                    <td class="width70"><strong></strong>
                                        </td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

